<option value=""> </option>
<option data-size="48000x48000" value="/maps/conquerorsblade/baofa.png"><%=l("Baofa")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/haran.png"><%=l("Haran")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/nysa.png"><%=l("Nysa")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/tura.png"><%=l("Tura")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/xuanwu.png"><%=l("Xuanwu")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/yazi.png"><%=l("Yazi")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/zuun.png"><%=l("Zuun")%></option>



