<option value=""> </option>
<option data-size="48000x48000" value="/maps/conquerorsblade/baofa.png"><%=l("Baofa")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/castillo-del-desierto.png"><%=l("Castillo del desierto")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/chaofeng.jpg"><%=l("Chaofeng")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/haran.png"><%=l("Haran")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/nysa.png"><%=l("Nysa")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/tura.png"><%=l("Tura")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/pueblo-del-desierto-2D.png"><%=l("Pueblo del desierto (2D)")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/puerta-del-cielo.png"><%=l("Puerta del Cielo")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/salamanca.png"><%=l("Salamanca")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/soltivar-aranis.png"><%=l("Solti Var - Aranis Pajzsok")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/xuanwu.png"><%=l("Xuanwu")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/yazi.png"><%=l("Yazi")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/zuun.png"><%=l("Zuun")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/tierradenadie.png"><%=l("Tierra de nadie")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/tn-aldea-ehua.png"><%=l("TN - Aldea - Ehua")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/tn-aldea-fulin.png"><%=l("TN - Aldea - Fulin")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/tn-aldea-gangdi.png"><%=l("TN - Aldea - Gangdi")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/tn-aldea-watai.png"><%=l("TN - Aldea - Watai")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/unverija-fortaleza.png"><%=l("Unverija - Fortaleza")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/maoyang-ciudad.png"><%=l("Maoyang - Ciudad")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/maoyang-ciudad-del-sol.png"><%=l("Maoyang - Ciudad del sol")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/maoyang-ciudad-del-sol-2D.png"><%=l("Maoyang - Ciudad del sol 2D")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/maoyang-fortaleza-2D.png"><%=l("Maoyang - Fortaleza 2D")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/maoyang-o-liangyun-fortaleza.png"><%=l("Maoyang-o-Liangyung-Fortaleza")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/maoyang-o-liangyun-fortaleza-2D.png"><%=l("Maoyang-o-Liangyung-Fortaleza 2D")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/maoyang-o-liangyun-fortaleza-defensa Z.png"><%=l("Maoyang-o-Liangyung-Fortaleza Defensa (Z)")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/maoyang-o-liangyun-fortaleza-centro.png"><%=l("Maoyang-o-Liangyung-Fortaleza Centro")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/kiralyfalva.png"><%=l("Kiralyfalva")%></option>
<option data-size="48000x48000" value="/maps/conquerorsblade/kiralyfalva-3D.png"><%=l("Kiralyfalva 3D")%></option>


