<li class="dropdown menu-item">  
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<div class="inline icon icon-<%=locale%>"></div>&nbsp; <%=locale%><span class="caret"></span>
	</a>
	<ul id="language_select" class="dropdown-menu">
		<li><a href="https://de.<%=url%>"><div class="inline icon icon-de"></div>&nbsp; Deutsch</a>
		<li><a href="https://en.<%=url%>"><div class="inline icon icon-en"></div>&nbsp; English</a>
		<li><a href="https://es.<%=url%>"><div class="inline icon icon-es"></div>&nbsp; Español</a>
		<li><a href="https://fr.<%=url%>"><div class="inline icon icon-fr"></div>&nbsp; Français</a>
		<li><a href="https://forum.<%=url.split('/')[0]%>/forums/topic/help-translate/"><%=l('Help with a translation')%></a>
	</ul>
</li>

